body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */

:root {
    --font-color: #ffffff;
    --font-color2: #000;

    --back-color1: #03045e;
    --back-color2: #023e8a;
    --back-color3: #0077b6;
    --back-color4: #0096c7;
    --back-color45: #a2d2ff;
    --back-color5: #00b4d8;
    --back-color6: #48cae4;
}

.btn-1 {
    background: var(--back-color1);
    border: var(--back-color1);
    color: var(--font-color);
}

.btn-2 {
    background: var(--back-color2);
    border: var(--back-color2);
    color: var(--font-color);
}

.btn-3 {
    background: var(--back-color3);
    border: var(--back-color3);
    color: var(--font-color);
}

.btn-1:hover {
    border: var(--back-color4);
    font-weight: 800;
    animation: fade-in 2s ease-in 0s infinite alternate both;;
}

@keyframes fade-in {
    from{background: var(--back-color3); color: var(--font-color); font-weight: 500;}
    to{background: var(--back-color6); color: var(--font-color); font-weight: 800;}
}

.btn-2:hover {
    background: var(--back-color5);
    color: var(--font-color);
    border: var(--back-color5);
    font-weight: 800;
    box-shadow: 5px 10px var(--back-color2), -5px -10px var(--back-color2);
}

.btn-3:hover {
    background: linear-gradient(var(--back-color1), var(--back-color2), var(--back-color3), var(--back-color5), 
    var(--back-color6), var(--font-color));
    color: var(--font-color2);
    font-weight: 700;
}